<form class="needs-validation " method="post" action="/">

    <div class="row">

        <div class="form-row col">
    <div class="">
      <label for="validationCustom01">ID</label>
      <input type="text" name="id" class="form-control" id="validationCustom01" placeholder="Enter ID" required>

    </div>
    <div class="">
      <label for="validationCustom02">Date</label>
      <input type="text" name="newdate" class="form-control" id="validationCustom02" placeholder="Date" required>
    
    </div>
    <div class="">
      <label for="validationCustomUsername">PatientRef</label>
      <div class="input-group">
        
        <input type="text" name="ref" class="form-control" id="validationCustomUsername" placeholder="Enter patient's Reference" required>
 
      </div>
    </div>
  </div>
  <div class="form-row col">
    <div class="">
      <label for="validationCustom03">Doctor Code</label>
      <input type="text" name="code" class="form-control" id="validationCustom03" placeholder="Enter Doctor's code" required>
  
    </div>
    <div class="">
      <label for="validationCustom04">AddReport</label>
      <input type="file" name="report" class="form-control" id="validationCustom04" placeholder="Upload a file" required>
     
    </div>
    <div class="">
      <label for="validationCustom05">Referral</label>
      <input type="text" name="referral" class="form-control" id="validationCustom05" placeholder="Referral" required>
      
    </div>
  </div>

    </div>
  
 
  <div style="padding: 2em;">
      <button class="btn btn-secondary btn-sm" type="submit">Submit form</button>
  </div>
</form>

