html {
	background-color: chocolate;
	padding: 2px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .container {
	/* margin: auto; */
	/* background-color: #dda15e; */
	/* width: 80%; */
	/* padding: 2em;
	margin: 2em; */
	/* border-radius: 2em; */
/* } */ */
.container_a{
	background-color: chocolate;
}

button{

	color: chocolate;

	/* margin: 1em; */
	text-align: center;
}

.hide{
	display: none;
}